<ion-view title="UPSFeed Map">
<html lang="en" ng-app="starter">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
  <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="MapViewCtrl" >
  <ion-content class="has-header padding-top" style="background: url(img/backBlurred.jpg) no-repeat center;background-size:cover;">
  <div id="map">
  
  </div>
    <div id="signup_home">
        <div class="schneider_white_logo"></div>  
    </div>
  </ion-content>
  </body>
</html>

</ion-view>